@inherits RocketPortal.Components.RocketPortalTokens<Simplisity.SimplisityRazor>

<a href="https://www.rocket-cds.org" target="_blank">
    <img class="w3-display-middle" src="/DesktopModules/DNNrocket/API/images/rocketcds-logo.svg" style="height:20px;" />
</a>