@inherits RocketEcommerceAPI.Components.RocketEcommerceAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketEcommerceAPI.Components;
@using Simplisity;
@using RazorEngine.Text;
@using Rocket.AppThemes.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketContent/App_LocalResources/")

@{
    var appTheme = (AppThemeLimpet)Model.List.First();
    var ctrl = Model.SessionParamsData.Get("ctrl");
}


<div class="w3-row">

    <div class="w3-bar-block w3-padding">
        @foreach (var v in appTheme.VersionList)
        {
            <div class="w3-bar-item w3-button versionselect" versionfolder="@(v)">@(v)</div>
        }
    </div>

</div>

<script>
    $(document).ready(function () {
        $(".versionselect").click(function () {
            $('#@(ctrl)').val($(this).attr('versionfolder'));
            $('#@(ctrl)display').html($(this).attr('versionfolder'));
            $('#versionselect').hide();
        });
    });
</script>


