@inherits RocketEcommerceAPI.Components.RocketEcommerceAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketEcommerceAPI.Components;
@using DNNrocketAPI.Components;

@{
    var info = new SimplisityInfo();
    var portalShop = (PortalShopLimpet)Model.GetDataObject("portalshop");
}
<!--inject-->
@if (portalShop.IsAdminMenuTurnOn("discountmethods"))
{
    <div class="w3-row w3-margin-top w3-margin-bottom">
        <div class="w3-card w3-light-grey w3-padding w3-round">
            <div class="w3-row">
                <div class="w3-col s12 m4 l3">
                    <label class="w3-text-green w3-large"><i class="fa fa-tag w3-margin-right"></i><strong>@ResourceKey("RE.discountcode", sessionParams.CultureCode)</strong></label>
                </div>
                <div class="w3-col s12 m8 l9">
                    <div class="w3-row">
                        <div class="w3-col s8 m9">
                            @TextBox(new SimplisityInfo(), "genxml/textbox/discountcode", " class='w3-input w3-border w3-white w3-round' placeholder='" + @ResourceKey("RE.discountcode", sessionParams.CultureCode).ToString() + "'")
                        </div>
                        <div class="w3-col s4 m3 w3-padding">
                            <button type="button" class="w3-button w3-green w3-round w3-margin-left w3-block" onclick="$('.a-dovalidate').trigger('click');">@ResourceKey("RE.apply")</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

